@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Oswald:wght@300&family=Potta+One&display=swap');
.App {
  background-color:#66CCFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo{
  color: black;
  font-family: 'Potta One', cursive;
}
.Header{
  font-family: 'Potta One', cursive;
  color: black;
}
